/*Estilos de tu proyecto*/

/* Aplicando estilos a header */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;   
}

body{
    box-sizing: border-box;
}

header{
    background: #2c3e50;
    line-height: 50%;
    padding: 3% 100% 3% 10%;
    position: fixed;
    z-index: 1000;
    width: 80%;
    top: 0;
}

.text-uppercase {
    display: inline;
    padding: 10px;
}

header nav{
    float: right;
}

header span{
    font-size: 35px;
    position: relative;
}

header nav ul li a{
    text-decoration: none;
}

span, a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* aplicando estilos seccion 1 */

.firts-section{
    background: #18bc9c;
    text-align: center;
    padding: 5% 10% 5% 10%;
    margin-top: 5%;
}

.firts-section figure {
    padding: 1.5%;
}

.firts-section h2 {
    padding: 2%;
    font-size: 4.75em;
}

.firts-section h3 {
    font-size: 25px;
    font-weight: lighter;
}

h2, h3{
    color: white;
}

/* aplicando estilos seccion 2 */
.second-section{
    background: white;
    text-align: center;
    padding: 5% 10% 5% 10%;
}

.second-section h2 {
    color: #2c3e50;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase; 
}

.images{
    width: 25%;
    padding: 1%;
}

/* Creando estilos seccion 3 */
.third-section{
    background: #18bc9c;
    text-align: center;
    color: white;
    text-align: center;
    padding: 5%;
}

.third-section h2{
    text-transform: uppercase;
    padding: 3%;
    font-size: 50px;
}

.content-box{
    column-count: 2;
    width: 45%;
    margin: auto;
    text-align: left;
    font-weight: lighter;
    font-size: 19.3px;
    line-height: 30px;
    padding-bottom: 40px;
}

.third-section button{
    border-radius: 10px;
    padding: 1%;
    background: #18bc9c;
    border-color: white;
    border-style: solid;
    color: white;
    font-size: 19.5px;
    font-weight: lighter;
}
/* aplicando estilos a la cuarta seccion */
.for-section{
    text-align: center;
}

.for-section h2 {
    text-transform: uppercase;
    padding: 3%;
    font-size: 50px;
    color: #2c3e50;
}

.for-section form input{
    line-height: 30px;
    font-size: 25px;
    width: 40%;
    margin: 0.5%;
    padding: 2% 0 2% 0;
    -moz-user-focus: none;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(164, 142, 150, 0.5);
}

#message{
    padding-bottom: 10%;
}

.for-section button {
    border-radius: 10px;
    padding: 1%;
    background: #18bc9c;
    border-color: #18bc9c;
    border-style: solid;
    color: white;
    font-size: 19.5px;
    font-weight: bold;
    position: relative;
    right: 17.5%;
}
